<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kwaksuin.portfolio.ipetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ipe_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ipe_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPETest">
        <activity android:name=".practical.exam.PracticalExam_container" />
        <activity android:name=".write.Write50_container" />
        <activity android:name=".practical.problem50.Practical50_container" />
        <activity android:name=".practical.PracticalMenu" />
        <activity android:name=".write.WriteMenu" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>